body{
    font-family: monospace;
    background-color: #494993;
}

ol{
    background-color: aliceblue;
    margin: 1%;
    display: inline-block;
    align-items: center;
    padding: 1% 2%;
}

h3{
    background-color: aliceblue;
    display: table;
    align-items: center;
    margin: 1%;
    padding: 0.5%;
}